<h1>NGX video scrolling demo !</h1>

<div class="filler">
  <p>
    Bibendum eleifend augue ipsum mauris dignissim eros aliquam natoque.
    Sollicitudin augue ad imperdiet non nunc magnis tempus. Dolor volutpat
    pellentesque faucibus vulputate interdum cubilia at urna feugiat. Sociis
    dignissim sapien adipiscing fermentum est risus metus elit faucibus. Metus
    nullam montes tempus phasellus torquent neque iaculis mus viverra mus purus
    vitae. Accumsan sed nascetur, sit bibendum curabitur nostra proin curabitur.
    Sed facilisis ligula aliquet, eget amet torquent! Malesuada.
  </p>

  <p>
    Lectus conubia vel nullam. Nascetur hendrerit, risus justo varius. Montes
    euismod duis blandit libero fames ad luctus. Tincidunt iaculis varius
    egestas
    habitant purus, nulla vulputate parturient pulvinar potenti. Venenatis
    bibendum dictum cras condimentum fringilla integer justo nostra sodales id
    placerat proin! Suscipit pretium nisl sociis per mus dignissim nullam
    scelerisque justo non rhoncus parturient! Amet duis mauris scelerisque at
    ultricies viverra eget egestas tincidunt rhoncus. Fusce, risus lectus
    adipiscing egestas consequat volutpat interdum scelerisque potenti. Gravida
    habitant curabitur!
  </p>

  <p>
    Netus hendrerit tempus diam risus ante varius maecenas condimentum eget
    ullamcorper fringilla. Volutpat, senectus magna himenaeos aliquam rhoncus
    ante
    id enim hac primis. Class placerat augue felis quis quisque non facilisis!
    Proin ultrices torquent felis mollis ligula augue nibh. Magnis inceptos quis
    sodales litora vel magnis risus nibh. Dictum, sit non facilisis inceptos
    dolor
    sagittis pellentesque nulla. Varius lobortis tempus sit. Laoreet, arcu
    dapibus
    magnis integer iaculis placerat suspendisse.
  </p>
</div>

<div class="video-scrolling-container">
  <ngx-video-scrolling [videoSource]="'/assets/chrome-video.mp4'"
    [frameDivider]="500">
  </ngx-video-scrolling>
</div>

<div class="filler">
  <p>
    Bibendum eleifend augue ipsum mauris dignissim eros aliquam natoque.
    Sollicitudin augue ad imperdiet non nunc magnis tempus. Dolor volutpat
    pellentesque faucibus vulputate interdum cubilia at urna feugiat. Sociis
    dignissim sapien adipiscing fermentum est risus metus elit faucibus. Metus
    nullam montes tempus phasellus torquent neque iaculis mus viverra mus purus
    vitae. Accumsan sed nascetur, sit bibendum curabitur nostra proin curabitur.
    Sed facilisis ligula aliquet, eget amet torquent! Malesuada.
  </p>

  <p>
    Lectus conubia vel nullam. Nascetur hendrerit, risus justo varius. Montes
    euismod duis blandit libero fames ad luctus. Tincidunt iaculis varius
    egestas
    habitant purus, nulla vulputate parturient pulvinar potenti. Venenatis
    bibendum dictum cras condimentum fringilla integer justo nostra sodales id
    placerat proin! Suscipit pretium nisl sociis per mus dignissim nullam
    scelerisque justo non rhoncus parturient! Amet duis mauris scelerisque at
    ultricies viverra eget egestas tincidunt rhoncus. Fusce, risus lectus
    adipiscing egestas consequat volutpat interdum scelerisque potenti. Gravida
    habitant curabitur!
  </p>

  <p>
    Netus hendrerit tempus diam risus ante varius maecenas condimentum eget
    ullamcorper fringilla. Volutpat, senectus magna himenaeos aliquam rhoncus
    ante
    id enim hac primis. Class placerat augue felis quis quisque non facilisis!
    Proin ultrices torquent felis mollis ligula augue nibh. Magnis inceptos quis
    sodales litora vel magnis risus nibh. Dictum, sit non facilisis inceptos
    dolor
    sagittis pellentesque nulla. Varius lobortis tempus sit. Laoreet, arcu
    dapibus
    magnis integer iaculis placerat suspendisse.
  </p>
</div>